/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::ng-deep .snackbar-success {
    background-color: #4caf50;
    color: #fff;
  }
  
  ::ng-deep .snackbar-error {
    background-color: #f44336;
    color: #fff;
  }
  
  ::ng-deep .mat-dialog-container.task-dialog {
    border-radius: 12px;
    padding: 0 !important;
    max-height: 95vh;
    overflow: hidden;
  }
  